.program-card {
  color: white !important;
  .program-card-banner {
    .pgn__card-image-cap {
      height: 6rem;
    }
  }
  .program-summary {
    font-size: .75rem;
    line-height: 1.25rem;
  }
}
